<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <meta charset="UTF-8">
      <meta name="keywords" content="startups,technology,rails,passion,programming,quit your job,entrepreneurship,empty suit,make it happen,fire your boss, work for yourself" />
      <meta name="description" content="EmptySuit is about my journey throughout a pursuit to learn, create, explore and do."/>
      
      <meta property="title" content="EmptySuit" />
      <meta property="description" content="EmptySuit is about my journey throughout a pursuit to learn, create, explore and do."/>
      <meta property="image" content="https://dl.dropboxusercontent.com/u/6475428/EmptySuit.png" />
      <meta name="author" content="EmptySuit">
      <link rel="icon" href="https://dl.dropboxusercontent.com/u/6475428/EmptySuitFlavicon.ico" type="image/x-icon">
      
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

  </head>
  <body>
    <%= render 'shared/google_analytics' %>
    <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : 516406648451371,                        // App ID from the app dashboard
      channelUrl : '//WWW.emptysu.it/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

    <%= render 'layouts/header' %>
   
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>

  </body>

</html>
